<!DOCTYPE html>
<html>
  <head>
    {{ template "meta.gotmpl" .Name }}
  </head>
  <body>
    {{ template "header.gotmpl" . }}

    <div class="container">
      {{ template "description.gotmpl" . }}
    </div>

    <aside class="container is-wide">
      {{ template "files.gotmpl" . }}
    </aside>
  </body>
</html>
